[json]
pretty_print = true

[report]
show_missing = true
skip_covered = true
skip_empty = true
sort = Name

[run]
branch = true
data_file = ${BO_Project?}/cfg/.coverage
omit =
  */test_*.py
  */__main__.py

