[coverage:report]
show_missing = false
skip_covered = false
skip_empty = false
sort = Cover

[coverage:run]
branch = true
data_file = ${BO_Project?}/.coverage
omit =
  */__init__.py
  */__main__.py
  */app.py
  */app/MODULE/task/*.py
  */conftest.py
  */generate/custom/all.py
  */generate/shared/all.py
  */generate/shared/briteonyx/*.py
  */mine/aws/ec2.py
  */mine/aws/s3.py
  */mine/src_gen/*/complete.py
  */mine/task/*.py
  */mine/utility/color_log_formatter.py
  */mine/utility/environment.py
  */mine/utility/my_logging.py
  */mine/utility/my_terminal.py
  */mine/utility/processing.py
  */mine/utility/singleton_application.py
  */test_*.py

[html]
directory = ${BO_Project?}/out/coverage

[json]
pretty_print = true

