# *.env
# *.html
# *.json
# *.log
# *.out
# *.sig
# /out/
# htmlcov/
*.avro
*.bak
*.class
*.list
*.parquet
*.pid
*.py[cdo]
*.swp
.DS_Store
.cache/
.pytest_cache/
/.BO
/.anaconda
/.coverage
/alias.bash
/context.bash
/log/
/out/coverage/
/out/pdoc/
/tmp/
__pycache__/
