# *.env
# *.html
# *.json
# *.out
# *.sig
# /out/
# coverage/
# htmlcov/
*.avro
*.bak
*.class
*.list
*.log
*.parquet
*.pid
*.py[cdo]
*.swp
.DS_Store
.pytest_cache/
/.BO
/.anaconda
/.coverage
/alias.bash
/context.bash
/log/
/tmp/
__pycache__/
