# *.env
# *.html
# *.json
# *.out
# *.sig
*.avro
*.bak
*.class
*.list
*.log
*.parquet
*.pid
*.py[cdo]
*.swp
.DS_Store
.cache/
.pytest_cache/
/.BO/capture/
/.BO/log/
/.BO/tmp/
/.anaconda/
/.coverage
/alias.bash
/context.bash
/out/coverage/
/out/pdoc/
__pycache__/
htmlcov/
